#container{
    width: 800px;
    height: 800px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  5% auto;
    justify-content: center;

}
#table__style{
    width: 800px;
    height: 400px;
    overflow: scroll;
}