<%- include("templates/header" , {tituloWeb: "Index" , urlStyle: "" }) %>

    <section>
        <h1>
            <%= titulo %>

        </h1>
        <button type="button" class="btn btn-primary">Primary</button>



    </section>

    <%- include("templates/footer") %>