<%- include("./views/templates/header.ejs" , {tituloWeb: "Index" , urlStyle: "" }) %>

  <section>
    <h1>

    </h1>
    <button type="button" class="btn btn-primary">Primary</button>



  </section>

  <%- include("./views/templates/footer") %>