<%- include("templates/header" , {tituloWeb: "Mascotas" }) %>

    <section>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i=1 %>
                        <% if (aprendices.length> 0) { %>
                            <% aprendices.forEach(aprendiz=> { %>
                                <tr>
                                    <th scope="row">
                                        <% i %>
                                    </th>
                                    <th scope="col">
                                        <%= aprendiz.documento %>
                                    </th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                                <% i++ %>
                                    <% }) %>
                                        <% } %>
                </tbody>
            </table>

        </div>

    </section>

    <%- include("templates/footer") %>