<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= tituloWeb %>
    </title>
    <link rel="stylesheet" href="/config/bootstrap.min.css">
</head>

<body>
    <%- include('navbar.ejs') %>